# Dependencies
node_modules/

# Build outputs
dist/
.astro/
.vercel/

# Logs
npm-debug.log*
*.log

# Env
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Misc
*.tsbuildinfo
